<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index AppTwo</title>
</head>
<body>
<h1>This is AppTwo</h1>
<div style="background: #65ff37;">Lorem ipsum texte</div>
<div style="background: #ff92ec;">{{nom}}</div>
<div style="background: #71a9ff;">{{prenom}}</div>
<div style="background: #ff0000;">Lorem ipsum texte</div>

</body>
</html>