<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Testing form</title>
</head>
<body>

<h1>Pybox</h1>

<form action="{% url 'get_form_pybox_data' %}" method="POST">
    {% csrf_token %}
    {{form_pybox.as_p}}
    <input type="submit" value="Submit"><input>

</form>


</body>
</html>