<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Song Create</title>
</head>
<body>

<h1>User registration</h1>

<form action="" method="post">
    {% csrf_token %}
    {{ form_song.as_p }}
    <input type="submit" value="Submit">
</form>
</body>
</html>