<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Nahhas zamel</h1>

<form action="{% url 'get_nom' %}" method="POST">
    {% csrf_token %}
    {{form_pybox.as_p}}
    <input type="submit" value="Submit"><input>

</form>


</body>
</html>