<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <div>
        <form method="POST">
            {% csrf_token %}
            <div>Join today</div>
            {{ form.as_p }}
            <input type="submit" value="Sign up">
        </form>

        <br>


    </div>
</head>
<body>

</body>
</html>